
/*------------------------------------------------------FONT FACE-------------------------------*/

@font-face {
	font-family: 'ralewaythin';
	src: url('/mywebsite/fonts/raleway-thin-webfont-webfont.eot?#iefix') format('embedded-opentype'),  url('/mywebsite/fonts/raleway-thin-webfont-webfont.woff') format('woff'),  url('/mywebsite/fonts/raleway-thin-webfont-webfont.ttf') format('truetype'),  url('/mywebsite/fonts/raleway-thin-webfont-webfont.svg#ralewaythin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'rosario';
	src: url('/mywebsite/fonts/rosario/Rosario-Regular.eot?#iefix') format('embedded-opentype'),  url('/mywebsite/fonts/rosario/Rosario-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


#headerbg{	
	background-size: 1366px 150px;
    background-repeat: no-repeat;
	position: absolute;
	top:0px;
	left: 0px;
	width: 1348px;
	height: 150px;
}

#header{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
	background-image: url("/mywebsite/img/header2.png");
	 background-size: 1366px 75px;
    background-repeat: no-repeat;
	position: fixed;
	top:-100px;
	left: 0px;
	width: 100%;
	height: 100px;
	z-index: 1000;
}

#header #logo1, #header2 #logo1{
	top: 25px;
	left: 645px;
	width: 100px;
	position: absolute;
}


#menu1 {
	text-decoration: none;
	position:absolute;
	width: 100px;
	left: 82px;
	top: 39px;
}

#menu2 {
	text-decoration: none;
	position:absolute;
	width: 100px;
	left: 260px;
	top: 39px;

}


#menu3 {
	text-decoration: none;
	position:absolute;
	width: 100px;
	left: 1050px;
	top: 39px;
}


#menu4 {
	text-decoration: none;
	position:absolute;
	width: 100px;
	left: 1250px;
	top: 39px;
}

#login_menu {
	text-decoration: none;
	position:absolute;
	left: 1150px;
}



div#nav1{
	display:block;
	position: relative;
	left: 220px;
	top:50px;
}

div #nav1 #nav1_drop{
	list-style-type: none;
	background-color: red;
	width: 100px;
	height: 50px;

}

#left{
	background-image: url("/mywebsite/img/Kiri.png");
	background-size: 75px 490px;
    background-repeat: no-repeat;
	position: fixed;
	top:160px;
	left: -100px; /*-6*/
	width:75px ;
	height:490px;
}



#right{
	background-image: url("/mywebsite/img/Kanan.png");
	background-size: 75px 490px;
    background-repeat: no-repeat;
	position: fixed;
	top:160px;
	left: 1400px; /*1280*/
	width:75px ;
	height:490px;
}


.container{
	padding: 20px;
	background-color: black;
	position: static;	
	margin-top:200px;
	margin-left: 85px;	
	width: 1130px;
}

.container2 {
	padding: 20px;
	position: static;	
	margin-top:200px;
	margin-left: 85px;	
	width: 1130px;
}

.container #slide_show{
	margin: auto;
	width: 900px;
	height: 300px;
}


.container #slide_show div#next{
	background-image: url("/mywebsite/img/long-header-vertical2.png");
	background-size: 30px 300px;
    background-repeat: no-repeat;
	position: absolute;
	top:0px;
	width: 30px;
	height: 300px;
	z-index: 500;
	margin-left: 900px;
}

.container #slide_show div#prev{
	background-image: url("/mywebsite/img/long-header-vertical1.png");
	background-size: 30px 300px;
    background-repeat: no-repeat;
	position: absolute;
	top:0px;
	left:-30px;
	width: 30px;
	height: 300px;
	z-index: 500;
}

.container #slide_show img#prev{
	position: absolute;
	margin-top: 125px;
	margin-left: 2px;
}

.container #slide_show img#next{
	position: absolute;
	margin-top: 125px;
	margin-left: 2px;
}

.container #panel{
	color:#FFA500;
	float: right;
	margin-left:5px; 
	margin-right:5px;
	margin-top:30px;
	margin-bottom:10px;
	padding :5px;
	width: 400px;
}

.container #panel #p0_header{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;;
	padding-top: 10px;
	padding-left: 2px;
	color:#FFA500;
	background-image : url("/mywebsite/img/header panel.png");
	background-repeat: no-repeat;
	background-size: 150px 40px;
	width: 150px;
	height: 30px;
}

.container #caption{
	display: inline;
}

	
.container #panel #p0_content{
	font-family: 'rosario';
	background-color:rgba(29,31,28,0.5);
	padding: 5px;
}

.container #panel #p0_content #text{
	padding-left:5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom:5px;
}

.container #panel #p0_closer{
	background-image : url("/mywebsite/img/closer panel.png");
	background-repeat: no-repeat;
	background-size: 400px 30px;
	width: 400px;
	height: 30px;
}

.container #p_header{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-top: 10px;
	padding-left: 2px;
	margin-top: 30px;
	color:#FFA500;
	background-image : url("/mywebsite/img/header panel.png");
	background-repeat: no-repeat;
	background-size: 150px 40px;
	width: 150px;
	height: 30px;
}


.container #panel1{	
	font-family: 'rosario';
	color:#FFA500;
	background-color:rgba(29,31,28,0.5);
	
	padding: 5px;
	width: 620px;
}

.container #p_closer{
	background-image : url("/mywebsite/img/closer panel.png");
	background-repeat: no-repeat;
	background-size: 630px 30px;
	width: 630px;
	height: 30px;
}

.container #panel2{
	font-family: 'rosario';
	color:#FFA500;
	background-color:rgba(29,31,28,0.5);
	padding :5px;
	width: 620px;
}



.container table #text{
	font-family: 'rosario';
	padding-left:10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom:5px;
	color:#FFA500;
}


.container table #textD{
	display:inline;
	margin-right: 6px;
}


#f_header{
	clear:both;
	background-image: url("/mywebsite/img/long header.png");
	background-repeat: no-repeat;
	background-size: 1100px 35px;
	width: 1100px;
	height: 35px;
	margin-left: 105px;
}
.footer{
	color:white;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-weight: 200;
	clear:both;
	background-color: #1d1f1c;
	padding: 20px;
	position: static;	
	margin-left: 105px;	
	width: 1100px;
	height: 200px;
}

.footer #panel{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-weight: 700;
	float:left;
	width: 300px;
	height: 200px;
	
}

.footer #panel1{
	float:left;
	width: 300px;
	height: 200px;
	margin-left: 50px;
}


.custom_footer{
	position: fixed;
	bottom: -40px;
	background-image: url("/mywebsite/img/footer.png");
	background-repeat: no-repeat;
	background-size: 1140px 50px;
	width: 1140px;
	height: 50px;
	margin-left: 105px;
}

.custom_footer #navi_footer{
	position: relative;
	left:49%;
	top:2px;
}



p#copyR{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  	font-weight: 400;
	clear: both;
	text-align: center;
	color: white;
}

#fb{
	margin-left: 490px;
}
#fb,#tw,#em{
	margin-top: 7px;
	float:left;
}

.footer td{
	color:white;
	
}

a:link{
	color:white;
	text-decoration: none
}

a:visited {
   	color:white;
    text-decoration: none

}

a:hover {
	color:#FFA500;
    text-decoration: none;
}


/*--------------------------------FOR LIST IMAGE PAGE-------------------------------*/


#header_container{
	margin-top:200px;
	background-image: url("/mywebsite/img/long header.png");
	background-repeat: no-repeat;
	background-size: 1140px 50px;
	width: 1140px;
	height: 30px;
	margin-left: 85px;
	text-align: center;
	padding: 10px;

}

.i_container{
	padding: 20px;
	background-color: gray;
	position: static;	
	margin-left: 85px;	
	margin-bottom: 15px;	
	width: 1100px;
	height: 800px;

}

#list{
	padding: 50px;
	background-color: yellow;
	position: static;	
	margin:auto;
	width: 80%;
	height: 70%;
}

#list #games{	
	float: left;
	background-color: black;
	position: static;	
	width: 150px;
	height: 150px;
	margin:20px;
}

#list #button{	
	background-color: rgba(255,0,0,0.8);
	position: static;	
	width: 150px;
	height: 85px;

}

#list #caption{	
	text-align: center;
	background-color: green;
	position: static;	
	width: 150px;
	height: 35px;

}



/*--------------------------------FOR LIST VIDEOS PAGE-------------------------------*/

#header2{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
	background-image: url("/mywebsite/img/header2.png");
	 background-size: 1366px 75px;
    background-repeat: no-repeat;
	position: fixed;
	top:100px;
	left: 0px;
	width: 1348px;
	height: 100px;
	z-index: 1000;
}

#left2{
	background-image: url("/mywebsite/img/Kiri.png");
	background-size: 75px 490px;
    background-repeat: no-repeat;
	position: fixed;
	top:160px;
	left: -6px; /*-6*/
	width:75px ;
	height:490px;
}


#left2 #slide_image{
	margin-top: 35px;
	margin-left: 10px;
	height: 410px;
	width: 80px;
}


#right2{
	background-image: url("/mywebsite/img/Kanan.png");
	background-size: 75px 490px;
    background-repeat: no-repeat;
	position: fixed;
	top:160px;
	left: 1280px; /*1280*/
	width:75px ;
	height:490px;
}

#right2 #slide_image{
	margin-top: 35px;
	margin-right: 10px;
	height: 410px;
	width: 80px;
}

div#lv_tittle{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left: 30px;
	padding-top: 10px;
	padding-left: 2px;
	margin-top: 30px;
	color:#FFA500;
	background-image : url("/mywebsite/img/header panel.png");
	background-repeat: no-repeat;
	background-size: 300px 40px;
	width: 300px;
	height: 30px;
}

h3#lv_tittle{
	display: inline;
}

div#lv_con{	
	float: left;
	width: 700px;
	padding: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
	background-color: rgba(29,31,28,0.5);
}

div#lv_ads{	
	color:#FFA500;
	float:left;
	width: 275px;
	height: 300px;
	padding: 10px;
	margin-left: 40px;
	margin-bottom: 30px;
	background-color: rgba(29,31,28,0.5);
}

div#lv_ads h3{
	display: inline;
}

div#lv_ads #underline{
	position: relative;
}


div.game{
	color:white;
	float:left;
	margin: 10px;
	width: 150px;
	height: 200px;	
}

div.game_name{
	padding-top: 10px;
	text-align: center;
	cursor: pointer;
	position: relative;
	top: -30px;
	z-index: 10;
	height: 40px;
	width: 150px;
	background-color: rgba( 0 , 0 , 0 ,0.5);
}

div.game p {
	font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 600;
	letter-spacing: 1.5px;
	display: inline;
}



div#lv_tittle2{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	clear: both;
	float:left;
	margin-left: 30px;
	padding-top: 10px;
	padding-left: 2px;
	margin-top: 30px;
	color:#FFA500;
	background-image : url("/mywebsite/img/header panel.png");
	background-repeat: no-repeat;
	background-size: 300px 40px;
	width: 300px;
	height: 30px;
}

div#lv_navi{
	float: right;
	margin-left: 100px;
	padding-top: 10px;
	padding-left: 2px;
	width: 50px;
	height: 30px;
}

div#lv_con2{	
	clear:both;
	float: left;
	padding: 10px;
	margin-left: 30px;
	margin-bottom: 30px;
	width: 1050px;
	background-color: rgba(29,31,28,0.5);
}
div#video{
	float: left;
	margin: 20px;
}

div#lv_con2_1 , #lv_con2_2{
	clear: both;
}

.active_video{
	position: absolute;
	top:0px;
	width: 600px;
	height: 400px;
	z-index: 1005;
	margin-left: 300px;
	margin-top: 50px;
}

.video{
	position: absolute;
	left: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(80 ,80,80,0.8);
	width: 100%; 
    height: 100%; 
	z-index: 1005;
	display: block;	
}


/* FOR ADMIN USER*/
#admin_box{
	background-color: black;
	width: 480px;
	height: 40px;
	position: absolute;
	top:73px;
	left: 30%;
}

#admin_box table td{
	text-align: center;
}

#admin_box p{
	display: inline;
	padding-left: 10px;
}


/*Games comment*/

#content_comments{
	border-style: solid;
	border-color: white;
	border-width: 1px;
}
#box_comment{
	
	padding: 5px;
}

#comment{	
	padding-left: 20px;
	padding-top: 5px;
}

/*NEW FOOTER*/
#about_txt{
	padding: 50px;
	border-width: 1px;
	border-style: solid;
}

#ablack{
	color: black;
}

/*Profile page*/
#data_admin , #profile_admin{
	color: #FFA500;
}

#profile_admin #photo{
	height: 200px;
	width: 300px;
	background-color: yellow;
}

/*Setting user*/
#p_user{
	color:#FFA500;
}

/*About_page*/
#about_content{
	color:#FFA500;
}

/*Edit_page*/
#edit_content{
	color:#FFA500;
}

/*contact page*/
#contact_table{
	color:#FFA500;
}

/*changePass page*/
.form_table{
	color:#FFA500;
}

/*Login_page*/
* { box-sizing: border-box; padding:0; margin: 0; }

.container2 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:#FFA500;
  background-color: black;
  
}
.container2 table{
	 color:#FFA500;
}

.container2 form {
 color:#FFA500;
  background:rgba(9,9,9,0.9); 
  width:600px;
  margin-right:-30px;
  border-radius:0.4em;
  border:2px solid #1D0604 ;
  overflow:hidden;
  position:relative;
  box-shadow: 0 10px 10px 5px rgba(0,0,0,0.2);
}

.container2 form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

.container2 form:before {
 	content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
  padding:20px; 
  border-top:1px solid #19191a;
}

.container2 form h1 {
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

.container2 form h1:after {
 	content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  -webkit-transform: rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
   background-image: -webkit-linear-gradient(50deg, rgba(255,255,255,0.05), rgba(0,0,0,0)); /* For Safari */

}

label {
 	color:#FFA500;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=password],textarea , #keyword{
	color:#ffffff;
 	width:50%;
  padding:8px 5px;
  background:linear-gradient(rgba(255,0,0,0.4), #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,0,0,0.5);
  border-radius:0.3em;
  margin-bottom:20px;
}

label[for=remember]{
 	color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:5px;
}

input[type=checkbox] {
 	display:inline-block;
  vertical-align:top;
}

.p-container {
 	padding:0 20px 20px 20px; 
}

.p-container:after {
 	clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#0d93ff;
  padding-top:8px;
}

input[type=submit] {

 	padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#000000;
   color:#FFA500;
  float:left;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(125,1,1,1),
    inset 0 -10px 10px rgba(125,1,1,1);
}

input[type=text]:hover,textarea:hover, #keyword:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
 	background:#27292c;
}